@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');
html {
    box-sizing: border-box;
  
  }
  body{
      background-color: #eaeaea;
      position: relative;
      background-image:  url('/bg1.png');
      /* &:before{
          position: absolute;
      } */
  }
  *{
    box-sizing: border-box;
    border-radius: 10px;
    /*box-shadow:0 1px 4px rgba(0,0,0,0.5);*/
  }
  body, html{
  height:100%;
  }
  #container{
      width: 100%;
      max-width: 640px;
        min-width: 360px;
        margin: 50px auto;
      padding: 20px;
      background-color:black;
      opacity: 0.8;
      box-shadow: 0 1px 10px rgba(0,0,0,50);
  }
  
  @media (max-width: 1400px) {
    #container {
      max-width: 500px;
      margin: 20px auto;
    }
  }
  
  @media (max-width: 575px) {
    #container {
      margin-top: 0px;
    }
  }
  
  .giph{
      text-align: center;
  
  }
  img {
  
      margin-top: 5%; 
      width: 400px;
      height: 400px;
  }
  /* .cell{
      height: 33.33%;
      width: 33.33%;
  } */
  
  #TTT_Board{
  display:none;
  }
  
  #board{
      position: relative;
      margin: auto 25% auto;
  
      text-align: center;
  
  }
  
  
  
  table{
  border-collapse:collapse;
  margin: auto;
  
  }
  td{
  border:5px solid black;
  height:100px;
  width:100px;
  text-align:center;
  vertical-align:middle;
  font-size:50px;
  cursor:pointer;
  }
  td:hover{
      background-color: grey;
  }
  
  
  table tr:first-child td{
  border-top:0;
  }
  
  table tr:last-child td{
  border-bottom:0;
  }
  
  table tr td:first-child{
  border-left:0;
  }
  
  table tr td:last-child{
  border-right:0;
  }
  .card_container {
      width: 100px;
      height: 100px;
      position: relative;
      border: 5px solid black;
      -webkit-perspective: 800px;
      -moz-perspective: 800px;
      -o-perspective: 800px;
      perspective: 800px;
  }
  .card {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }
  .card div {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 100px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 70px;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  
  
  .card .front {
    background: white;
  }
  .card .back {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .card.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  
  #side{
      text-align: center;
  }
  .endgame{
  display:none;
  width:350px;
  background-color:white;
  opacity:0.8;
/*   
  
  position:absolute; */
  /*left:50%;*/
  margin: auto;
  padding-top:50px;
  padding-bottom:50px;
  text-align:center;
  border-radius:5px;
  color:black;
  font-size:2em;
  }
  .row1{
  display:none;
  width: 100%;
  text-align: center;
  }
  .row1 {
  background-color:transparent;
  }
  .row1 input:hover{
  background-color: #5868ad;
  }
  #levelOne{
  background-color:red;
  }
  .chooseGame{
      overflow: auto;
      text-align: center;
  
  }
  .chooseGame button{
  background-color:#0c2c5e ;
  margin: 10px 20px;
  width: 200px;
  color: #bac8de;
  font-size: 15px;
  vertical-align: center;
  border: none;
      margin: auto;
      padding: 10px;
      cursor: pointer;
  
  }

  
  .options{
  display:none;
  margin: auto;}
  
  .options button{
  background-color:#3b134d ;
  color: #e2dae6;
  font-size: 15px;
  align-content: center;
  border: none;
  }
  .options button:hover{
      background-color: #724287;
  }
  
  .clock_container{
  /*box-shadow:0 1px 4px rgba(0,0,0,0.5);
  padding:15px;
  border-radius:5px;*/
  display:none;/*
  background-color:orange;*/
  }
  
  .screen{
      text-align: right;
  color:white;
  font-size: 15px;
  }
  .screen span{
  display:inline-block;
  text-align:center;
  }
  span{
      text-align: right;
  }
  
  .nameInput{
  display:none;
  text-align: center;
  }
  
  h1{
      color: white;
  }
  .nameInput input{
      border: none;
      border-radius: 0%;
      padding: 10px;
      font-size: 15px;
      margin: 10px;
  }
  .nameInput button{
  /*padding:7px;
  height:40px;*/
  background-color:#3b134d ;
  margin: 10px 20px;
  color: #e2dae6;
  font-size: 15px;
  align-content: center;
  
  border: none;
      margin: auto;
      padding: 10px;
      cursor: pointer;
  
  /*margin: 10px 20px;
  width: 200px;
  color: #bac8de;
  font-size: 15px;
  vertical-align: center;*/
  }
  .nameInput button:hover{
      background-color: #724287;
  }
.leaderBoard {
    display: none;
}

/*  

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #4B4168;
	color: #333;
} */

.center {
    display: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
	
	z-index: 10;
	font-family: 'Red Hat Display', sans-serif;
}

.top3 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #4B4168;
	
	.item {
		box-sizing: border-box;
		position: relative;
		background: white;
		width: 9rem;
		height: 10rem;
		text-align: center;
		padding: 2.8rem 0 0 ;
		margin: 1rem 1rem 2rem;
		border-radius: 0.5rem;
		transform-origin: bottom;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		.pos {
			font-weight: 900;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}
		
		.name {
			font-size: 1.1rem;
			margin-bottom: 0.5rem;
		}
		
		.point {
			opacity: 0.5;
			
			&:after {
				display: block;
				content: 'points';
				opacity: 0.5;
			}
		}
		
		&.one {
			width: 10rem;
			height: 11rem;
			padding-top: 3.5rem;
			
			.pic {
				width: 5rem;
				height: 5rem;
				left: 2.5rem;
			}
		}
		
		&:hover {
			transform: scale(1.05);
		}
	}
}

.list {
	padding-left: 2rem;
	margin: 0 auto;
	
	.item {
		position: relative;
		display: flex;
		align-items: center;
		background: white;
		height: 3rem;
		border-radius: 4rem;
		margin-bottom: 2rem;
		background: #EAA786;
		transform-origin: left;
		cursor: pointer;
		transition: transform 200ms ease-in-out;
		box-shadow:
			0 0 4rem 0 rgba(black, 0.1),
			0 1rem 2rem -1rem rgba(black, 0.3);
		
		.pos1,.pos2,.pos3,.pos4,.pos5 {
			font-weight: 900;
			position: absolute;
			left: -2rem;
			text-align: center;
			font-size: 1.25rem;
			width: 1.5rem;
			color: white;
			opacity: 0.6;
			transition: opacity 200ms ease-in-out;
		}
		
		.name {
			flex-grow: 2;
			flex-basis: 10rem;
			font-size: 1.1rem;
		}
		
		.score {
			margin-right: 1.5rem;
			opacity: 0.5;
			
			&:after {
				margin-right: 1rem;
				content: 'points';
				opacity: 0.5;
			}
		}
		
		&:hover {
			transform: scale(1.05);
			
			.pos {
				opacity: 0.8;
			}
		}
	}
}



  #SpinCircle{
    box-sizing: border-box;
    border-radius: 0%;
    padding: 0;
    margin: 0;
    outline: none;
    display: none;
justify-content:center;
align-items: center;
height: 100vh;
overflow: hidden;
background-image: url('/bg1.png');
background-size: cover;
}

.mainCircle{
    position: relative;
    display: block;
    width:500px;
    height: 500px;
}
.mainCircle:after{
    position: absolute;
    content:'';
    width:32px;
    height:32px;
    background:url('/arrow1.png') no-repeat;
    background-size: 32px;
    right:-30px;
    top:50%;
    transform:translate(-50%);

}
.box{
    width:100%;
    height:100%;
    position:relative;
    border-radius:50%;
    border:10px solid #FFF;
    overflow: hidden;
    transition:all ease 5s;
}
#SpinCircle span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 92%, 100% 50%,0 8%);
    background-color: #C51162;
    top:120px;
    left:0;
}
.span2{
    clip-path: polygon(100% 92%, 0 50%,100% 8%);
    background-color: #FF9100;
    top:120px;
    right:0;
}
.span3{
    clip-path: polygon(50% 0%, 8% 100%,92% 100%);
    background-color: #F50057;
    bottom:0px;
    left:120px;
}
.span4{
    clip-path: polygon(50% 100%, 92% 0%,8% 0);
    background-color: #880E4F;
    top:0px;
    left:120px;
}
.circle2{
    width:100%;
    height:100%;
    transform:rotate(-135deg);
}
span b{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    background-color: #FFF;
    position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     box-shadow:inset 0 3px 3px 0 #717171;
         }
         .spin{
             position:absolute;
             top:50%;
             left:50%;
             transform:translate(-50%, -50%);
             width:75px;
             height: 75px;
             border-radius: 50%;
             border: 4px solid #fff;
             background-color: #ff5722;
             color:#fff;
             box-shadow: 0 5px 20px #000;
             font-weight: bold;
             font-size: 22px;
             cursor:pointer;
         }
         .spin:active{
              width:70px;
              height:70px;
              font-size:20px;
         }
         .mainCircle.animate:after{
          animation: animateArrow 0.7s ease infinite;   
         }
         @keyframes animateArrow {
            50%{
            right: -40px;
            }
         }
         #status{
            font-size: 2em;
            color: white;
             display: block;
position: absolute;
top: 650px;
         }
         #goBack{
            color: whitesmoke;
             display: none;
            position: absolute;
            top: 700px;
          border: whitesmoke;
         }
         #goBack:hover{
background-color: #880E4F;
         }
         .spin:focus {
outline: none;
box-shadow: none;
}
.spin:active:focus {
outline: none;
box-shadow: none;
}
#goBack:focus {
outline: none;
box-shadow: none;
}  
  
  
